.toolbar{
    background-color: rgba(180, 132, 29, 0.3);
    height: 125px;
    padding-bottom: 0px;

 }
 .toolbarContainer{
     background-color: rgba(223, 231, 233, 0.3);
     height: inherit;
     align-items: inherit;
 }
 .AppTitle{
     font-size:  75px;
     height: 75px; 
     color: black; 
     margin-top: 75px;;
 }
 .SimpleTitle{
     color: black; 
     margin-bottom: 0px !important;
     padding-bottom: 0px !important;

     
 }
 .example-spacer {
flex: 1 1 auto;
}