


<style>
    .product-item {
        border: 1px solid #eee;
        margin-bottom: 30px;
    }
    .product-item .down-content {
        padding: 0px;
        position: relative;
    }
</style>
<div>
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<div class="container" style="margin: 50px; background-color: rgb(126, 74, 211,0.4); width: 80%;height: 5%;">
    <div class="row">
      <div class="col-sm col-lg-3 col-md-6">Hello</div>
      <div class="col-sm col-lg-3 col-md-6">Hello</div>
      <span class="col-sm col-lg-3 col-md-6" style="flex: 1 1 auto;"></span>
      <div class="col-sm col-lg-3 col-md-6">
        ayyyyyyy
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm col-lg-3 col-md-6" *ngFor="let pub of Publications">
            
                <div class="product-item" >
                   <a  href="#"  ><img style="width : 100%" src={{pub.Image}} alt=""></a> 
                  <!-- <div class="Spacer"></div> -->
                  <div class="down-content" style="background-color: rgba(122, 201, 233, 0.2);">
                    <a href="#"><h4>{{pub.Title}}</h4></a>
                    <h6>{{pub.Cost}}</h6>
                    <p>{{pub.Description}}</p>
                    <span>Reviews (21)</span>
                  </div>
                </div>
        </div>
    </div>
</div>